.wrapper {
    /* padding-top: 50px; */
    background-image: url("https://secure.static.tumblr.com/f642475976f0e5ef05f07c45733c9129/ywlzagp/F0vn2z9v6/tumblr_static_000dcnypgt.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 50px 10%;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}