.header {
    background-color: #2c323c;
    background-repeat: no-repeat;
    background-image: url("./images/kanto_map.png");
    background-size: 100% 100%;
    color: #f9c605;
    min-height: 400px;
    padding-bottom: 140px;
    text-align: center;
    font-family: 'PokemonGB', Fallback, sans-serif;
}

.header h1 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 4rem;
}

.header h2 {
    background-image: url("./images/textbox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 2rem;
    padding: 10px;
    

}

#shadow {
	text-shadow:
		-2px -2px 0 #244782,
		2px -2px 0 #244782,
		-2px 2px 0 #244782,
		2px 2px 0 #244782;
}


@font-face {
    font-family: 'PokemonGB';
    src: local('PokemonGB'), url(./fonts/PokemonGB.ttf) format('truetype');
  }