.wrapper {
    background-image: url("https://secure.static.tumblr.com/f642475976f0e5ef05f07c45733c9129/ywlzagp/F0vn2z9v6/tumblr_static_000dcnypgt.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 5% 5%;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
}

.nav-pills {
    position: fixed;
    top: 0;
    left: 0;
    background: #197bba;
    max-height: 25%;
    min-height: 65px;
    width: 100%;
    text-align: center;
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
    color: #ffcb05;
    font-size: 1em;
    font-weight: bold;
    z-index: 99;
    white-space: nowrap;
    font-family: 'PokemonGB', Fallback, sans-serif;
}

.nav-pills a {
    color: #fff;
}

.nav-pills a:hover {
    color: #fff;
    text-decoration-color: transparent;
    -webkit-text-fill-color: #ffcb05;
}

.logo {
    max-height: 60px;
}

@font-face {
    font-family: 'PokemonGB';
    src: local('PokemonGB'), url("./components/assets/fonts/PokemonGB.ttf") format('truetype');
  }

  .header {
    background-color: #2c323c;
    background-repeat: no-repeat;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e93d6046037147.5845f07ebcaed.png");
    background-size: 100% 100%;
    min-height: 400px;
    padding-bottom: 140px;
    text-align: center;
    font-family: 'PokemonGB', Fallback, sans-serif;
    color: #ffcb05;
}

.header h1 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 4rem;
}

.header h2 {
    background-image: url("./components/assets/images/textbox.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-size: 2rem;
    padding: 10px;
    

}

#shadow {
	text-shadow:
		-2px -2px 0 #244782,
		2px -2px 0 #244782,
		-2px 2px 0 #244782,
		2px 2px 0 #244782;
}

#shadow2{
    text-shadow:
    -2px -2px 0 #244782,
    2px -2px 0 #244782,
    -2px 2px 0 #244782,
    2px 2px 0 #244782;
}
  
.card {
    background: #f9c605;
    border-radius: 2px;
    height: 160px;
    overflow: hidden;
    margin: 1rem;
    position: relative;
    width: 250px;
    box-shadow: 0 3px 6px #3564ae, 0 3px 6px #3564ae;
    text-align: left;
}

.card:hover {
-webkit-transform: scale(1.05);
-ms-transform: scale(1.05);
transform: scale(1.05);
-webkit-box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
box-shadow: 0 14px 28px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.22);
-webkit-transition: .1s;
-o-transition: .1s;
transition: .1s
}

.card > .img-container {
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}
.card > .img-container img {
    margin-top: 10px;
    width: 100%;
    height: 140px;
}

@media screen and (min-width:320px) and (max-width:500px) {
    /* CSS for screens that are 320 pixels or less will be put in this section */
    .nav-pills{
        font-size: .6em;
        white-space: nowrap;

    }
    .header{
        padding-bottom: 64px;
        margin-top:115px;
        min-height: 100px;
    }
    .header h1{
        margin-top: 30px;
        font-size: 2rem;
        text-shadow: -2px -2px 0 #244782, 2px -2px 0 #244782, -2px 2px 0 #244782, 2px 2px 0 #244782;
    }
    .header h2 {
        font-size: 1rem;
        text-shadow: remove;
    
        
    }
    #shadow2 {
        text-shadow: none;

    }
    
    .card{
        height: 60px;
        width: 40px;
    }

    .card > .img-container img{
        height: 100%
    }
  }